# Introduction to Python for Open Source Geocomputation

![python](pics/python-logo-master-v3-TM.png)

* Instructor: Dr. Wei Kang
* Class Location and Time: ENV 336, Mon & Wed 12:30 pm - 1:50 pm

Content:

* Sets
* Dictionaries
* Review of Container data types

# Standard Data Types in Python - Sets

| Category of Data type | Data type            | Example    |
| -------------- | -------------------- | ---------- |
| Numeric, scalar         | Integer| 1       |
|        | Floats   | 1.2   |
|          | Complex    | 1.5+0.5j  |
|         | Booleans   | True    |
| Container    | strings   | "Hello World"   |
|     | List   | [1, "Hello World"]  |
|     | Tuple   | (1, "Hello World")  |
|     | Set   | {1, "Hello World"}   |
|     | Dictionary   | {1: "Hello World", 2: 100} |

## Sets in python

`{1, "Hello World"}`

* A collection of **unordered** objects
    * indexing and slicing will not work  
* Set elements are **unique**. Duplicate elements are not allowed.
    * when you create a set, python will remove the "redundant"/"repeated" elements automatically
* Supports operations and concepts from set theory
* A set itself may be modified (mutable), but the elements contained in the set must be of an immutable type.

### Questions (randomly selecting a student for each question):

* Can list be an element of a set?
* Can string be an element of a set?
* Can tuple be an element of a set?

In [1]:
{[1,2]}

TypeError: unhashable type: 'list'

In [2]:
{(1,2)}

{(1, 2)}

In [3]:
{"s"}

{'s'}

### Creating a set

* Assignment operation: `set_a = {1,2}`
    * enclosed by curly brackets 
* Function `set()`

In [4]:
set_a = {1,2}
set_a

{1, 2}

In [5]:
type(set_a)

set

In [6]:
set_a = {1,2,1,3,4,1}
set_a

{1, 2, 3, 4}

In [7]:
s = "python"

In [8]:
set(s)

{'h', 'n', 'o', 'p', 't', 'y'}

In [9]:
set_s = set(s)
set_s

{'h', 'n', 'o', 'p', 't', 'y'}

In [10]:
set_s[0]

TypeError: 'set' object is not subscriptable

In [11]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [12]:
tuple(s)

('p', 'y', 't', 'h', 'o', 'n')

In [13]:
list_a = ['I', 'like', 'python']

In [14]:
set(list_a)

{'I', 'like', 'python'}

In [15]:
list_b = list_a * 3
list_b

['I', 'like', 'python', 'I', 'like', 'python', 'I', 'like', 'python']

In [16]:
set(list_b)

{'I', 'like', 'python'}

In [17]:
a = 1,2,3,4
a

(1, 2, 3, 4)

In [18]:
type(a)

tuple

In [19]:
set(a)

{1, 2, 3, 4}

In [20]:
set(1)

TypeError: 'int' object is not iterable

In [21]:
set([1])

{1}

In [22]:
{[1]}

TypeError: unhashable type: 'list'

## Grow a set with **in-place** methods

* `set.add()`:
    * add an item to a set
    * similar to `list.append()`
* `set.update()`: 
    * Update a set with the union of itself and others.
    * the input argument should be an iterable (container data type)
    * similar to `list.extend()`

In [23]:
set_a = {1,2,"python"}

In [24]:
set_a.add(10)

In [25]:
set_a

{1, 10, 2, 'python'}

In [26]:
set_a.add(10)

In [27]:
set_a

{1, 10, 2, 'python'}

In [28]:
set_a = {1, 10, 2, 'python'}
set_a

{1, 10, 2, 'python'}

In [29]:
set_a.add((11, 12))

In [30]:
set_a

{(11, 12), 1, 10, 2, 'python'}

In [31]:
set_a = {1, 10, 2, 'python'}
set_a

{1, 10, 2, 'python'}

In [32]:
set_a.update((11, 12))

In [33]:
set_a

{1, 10, 11, 12, 2, 'python'}

In [34]:
set_a.update(1)

TypeError: 'int' object is not iterable

In [35]:
set_a

{1, 10, 11, 12, 2, 'python'}

In [36]:
set_a.add({11, 12})

TypeError: unhashable type: 'set'

In [37]:
set_a = {1, 10, 2, 'python'}

In [38]:
set_a.update([11, 12])

In [39]:
set_a

{1, 10, 11, 12, 2, 'python'}

In [40]:
set_a.update(100)

TypeError: 'int' object is not iterable

In [41]:
set_a.update([100])

In [42]:
set_a

{1, 10, 100, 11, 12, 2, 'python'}

In [43]:
set_a.add((100,))

In [44]:
set_a

{(100,), 1, 10, 100, 11, 12, 2, 'python'}

## Shrink a set with **in-place** methods

* `set.remove()`:
    * reomove an item to a set
    * similar to `list.remove()`
* `set.pop()`: 
    * removes and returns an arbitrary element from a set.

In [45]:
list_a = [1, 10, 11, 12, 2, 'python']

In [46]:
list_a.pop()

'python'

In [47]:
list_a

[1, 10, 11, 12, 2]

In [48]:
list_a.pop(0)

1

In [49]:
list_a

[10, 11, 12, 2]

In [50]:
set_a = {1, 10, 11, 12, 2, 'python'}

In [51]:
set_a.remove(1)

In [52]:
set_a

{10, 11, 12, 2, 'python'}

In [53]:
set_a.remove(3)

KeyError: 3

In [54]:
set_a

{10, 11, 12, 2, 'python'}

In [55]:
set_a.pop()

2

In [56]:
set_a

{10, 11, 12, 'python'}

In [57]:
set_a.pop()

'python'

In [58]:
set_a

{10, 11, 12}

In [59]:
len(set_a)

3

### Mathematical operations with Sets - set theory

Check whether a set is a subset of another set

<img src="pics/subset.png" width="300">

In [60]:
group1 = set([1, 2, 3, 4, 5])
group2 = set([2,6,7])
group3 = {1,2,3}

In [61]:
group2.issubset(group1)

False

In [62]:
group3.issubset(group1)

True

In [63]:
group2.issuperset(group1)

False

In [64]:
group1 = set([1, 2, 3, 4, 5])
group2 = set([2,6,7])
group3 = {1,2,3}

In [65]:
group1.issubset(group3)

False

In [66]:
group1.issubset?

In [67]:
help(group1.issubset)

Help on built-in function issubset:

issubset(...) method of builtins.set instance
    Report whether another set contains this set.

### More Operations on two or more sets

![Python-Set-Operatioons](pics/Python-Set-Operatioons.png)

In [68]:
group1 = set([1, 2, 3, 4, 5])
group2 = set([2,6,7])
group3 = {1,2,3}

In [69]:
group1.union(group2)

{1, 2, 3, 4, 5, 6, 7}

In [70]:
group1.union(group2, group3)

{1, 2, 3, 4, 5, 6, 7}

In [71]:
group1.intersection(group2)

{2}

In [72]:
group1 = set([1, 2, 3, 4, 5])
group2 = set([2,6,7])
group3 = {1,2,3}

In [73]:
group1.difference(group2)

{1, 3, 4, 5}

In [74]:
group2.difference(group1)

{6, 7}

In [75]:
group1.symmetric_difference(group2)

{1, 3, 4, 5, 6, 7}

In [76]:
group2.symmetric_difference(group1)

{1, 3, 4, 5, 6, 7}

The ``symmetric difference`` of two sets is defined as the set of elements
which are in one or the other, but not both, of the sets

### Group Exercise 

Write python code to remove items 10, 20, 30 from a given set `set1 = {10, 20, 30, 40, 50}`

> When you are done, raise your hand!

In [77]:
set1 = {10, 20, 30, 40, 50}
set1.remove(10)
set1.remove(20)
set1.remove(30)
set1

{40, 50}

In [78]:
set1 = {10, 20, 30, 40, 50}
list_toremove = [10, 20, 30]
for i in list_toremove:
    set1.remove(i)
set1

{40, 50}

In [79]:
set1 = {10, 20, 30, 40, 50}
set1.remove(10).remove(20).remove(30)

AttributeError: 'NoneType' object has no attribute 'remove'

In [80]:
set1 = {10, 20, 30, 40, 50}
type(set1.remove(10))

NoneType

In [81]:
set1 = {10, 20, 30, 40, 50}

new_set = {10, 20, 30}

In [82]:
set1.difference(new_set)

{40, 50}

In [83]:
set1 = {10, 20, 30, 40, 50}

In [84]:
set1.remove("10")

KeyError: '10'

In [85]:
set1.remove(10)
set1.remove(20)
set1.remove(30)
set1

{40, 50}

In [86]:
set1 = {10, 20, 30, 40, 50}
set1.symmetric_difference({10, 20, 30})

{40, 50}

In [87]:
set1

{10, 20, 30, 40, 50}

# Standard Data Types in Python - Dictionaries

| Category of Data type | Data type            | Example    |
| -------------- | -------------------- | ---------- |
| Numeric, scalar         | Integer| 1       |
|        | Floats   | 1.2   |
|          | Complex    | 1.5+0.5j  |
|         | Booleans   | True    |
| Container    | strings   | "Hello World"   |
|     | List   | [1, "Hello World"]  |
|     | Tuple   | (1, "Hello World")  |
|     | Set   | {1, "Hello World"}   |
|     | Dictionary   | {1: "Hello World", 2: 100} |

## Dictionaries in python

```python
{1: "Hello World", 2: 100}
```

```python
{"first": "Hello World", "second": 100}
```


* Intuitive: a dictionary in python is like a dictionary we normally encounter
    * a dictionary represents a mapping from keys to values
    * e.g., a English-Spanish dictionary:
        * mapping from a English word (key) to a Spanish word (value)
* A collection of **key-value pairs** 
    * key can be any immutable data type
    * value can be any data type
    * each key-value pair is considered as an item
* indexed by **keys**, not a range of numbers
    * Duplicate keys are not allowed
    * Duplicate values are allowed
* mutable
    * we can change the key-value pair using assignment statements
* very powerful and efficient for some problems

## Creating a dictionary

* Assignment statement: multiple ways
* Function `dict()`

#### Create a dictionary by defining pairs of keys and values

`dict_person = {'name': 'John', 'age': '36', 'country': 'Norway'}`

* enclosed by curly brackets (similar to sets) `{}`
* comma `,` seperating items (key-value pairs)
* colon `:` seperating a key from the correspinding value

In [88]:
dict_person = {'name': 'John', 'age': '36', 'country': 'Norway'}
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [89]:
len(dict_person)

3

In [90]:
type(dict_person)

dict

#### Create an empty dictionary and add key-value pairs using key index assignment

```python
dict_person = {}
dict_person['name'] = 'John'
```

* for dictionaries, key is the "index"
* indexing is "similar" to lists, but the "index" is not numbers, but keys (could be any immutable data types)

In [91]:
dict_person = {}
type(dict_person)

dict

In [92]:
dict_person['name'] = 'John'
dict_person['age'] = '36'
dict_person['country'] = 'Norway'

In [93]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [94]:
dict_person[("country", "weather")] = ('Norway', 'sunny')

In [95]:
dict_person

{'name': 'John',
 'age': '36',
 'country': 'Norway',
 ('country', 'weather'): ('Norway', 'sunny')}

In [96]:
dict_person[["country", "weather"]] = ('Norway', 'sunny')

TypeError: unhashable type: 'list'

#### Creating a dictionary with `dict()` using pairs of keys and values 

* pairs could be of any ordered container data types, e.g., tuples, lists

In [97]:
 ( ('name','John'), ('age',"36"), ('country', "Norway"))

(('name', 'John'), ('age', '36'), ('country', 'Norway'))

In [98]:
dict_person = dict( ( ('name','John'), ('age',"36"), ('country', "Norway")) )
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [99]:
tuple_pair =  ( ('name','John'), ('age',"36"), ('country', "Norway")) 
dict_person = dict(tuple_pair)
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [100]:
dict_person = dict( [ ['name','John'], ['age',"36"], ['country', "Norway"]] )
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [101]:
list_pair =  [ ['name','John'], ['age',"36"], ['country', "Norway"]]
dict_person = dict(list_pair)
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

### Obtaining values using keys

* similar to Lists' indexing

In [102]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [103]:
dict_person['name']

'John'

In [104]:
dict_person['John']

KeyError: 'John'

### Dictionary Methods

In [105]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [106]:
dict_person.keys() # returns a collection of keys

dict_keys(['name', 'age', 'country'])

In [107]:
dict_person.values() # returns a collection of values

dict_values(['John', '36', 'Norway'])

`in` operator

* tells you whether something appears as a **key** in the dictionary

In [108]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [109]:
'name' in dict_person

True

In [110]:
'name' in dict_person.keys()

True

In [111]:
'John' in dict_person

False

In [112]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [113]:
'John' in dict_person.values()

True

In [114]:
len(dict_person)

3

In [115]:
dict_person.items()

dict_items([('name', 'John'), ('age', '36'), ('country', 'Norway')])

Combining two dictionaries can be done with the ``update`` method (in-place method)

In [116]:
dict_new = {1:3, 4:5}
dict_new

{1: 3, 4: 5}

In [117]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [118]:
dict_person.update(dict_new)

In [119]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway', 1: 3, 4: 5}

### Looping dictionaries

* If you use a dictionary in a `for` statement, it traverses the `keys` of the dictionary

In [120]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway', 1: 3, 4: 5}

In [121]:
for a in dict_person:
    print(a)

name
age
country
1
4

In [122]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway', 1: 3, 4: 5}

In [123]:
for a in dict_person.values():
    print(a)

John
36
Norway
3
5

In [124]:
for a in dict_person:
    print(dict_person[a])

John
36
Norway
3
5

In [125]:
for key in dict_person:
    print(key, dict_person[key])

name John
age 36
country Norway
1 3
4 5

In [126]:
dict_person.items()

dict_items([('name', 'John'), ('age', '36'), ('country', 'Norway'), (1, 3), (4, 5)])

In [127]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway', 1: 3, 4: 5}

In [128]:
for key, values in dict_person.items(): #getting key,value pairs with method `items()`
    print(key, values)

name John
age 36
country Norway
1 3
4 5

### Group exercise


Write a Python program to convert two lists into a dictionary in a way that item from list1 is the key and item from list2 is the value
```python
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
```
> When you are done, raise your hand!

In [129]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [130]:
len(keys)

3

In [131]:
for i in range(len(keys)):
    print(i)

0
1
2

In [132]:
new_dict = {}
for i in range(len(keys)):
    print(i)
    new_dict[keys[i]] = values[i]

0
1
2

In [133]:
new_dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [134]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [135]:
[['Ten', 10], ['Twenty', 10], ['Thirty', 30]]

[['Ten', 10], ['Twenty', 10], ['Thirty', 30]]

In [136]:
dict([['Ten', 10], ['Twenty', 10], ['Thirty', 30]])

{'Ten': 10, 'Twenty': 10, 'Thirty': 30}

In [137]:
[keys[0], values[0]], [keys[1], values[1]]

(['Ten', 10], ['Twenty', 20])

In [138]:
list_pair = []
for i in range(3):
    list_pair.append([keys[i], values[i]])
dict(list_pair)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [139]:
dict(zip(keys, values))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

`zip()` function takes two or more iterables (like list, dict, string), aggregates them in a tuple, and returns it.

# Review of Python Container Data Types

| Category of Data type | Data type            | Example    | Ordered|Mutable|Unique|
| -------------- | -------------------- | ---------- |---------- |---------- |---------- |
| Container    | strings   | "Hello World"   ||||
|     | List   | [1, "Hello World"]  ||||
|     | Tuple   | (1, "Hello World")  ||||
|     | Set   | {1, "Hello World"}   ||||
|     | Dictionary   | {1: "Hello World", 2: 100} ||||

### _Questions?_

* What is a string in python?
* What is a list in python?
* What is a tuple in python?
* What is a set in python?
* What is a dictionary in python?
* What are the differences between these container data types?

In [140]:
{[1,2], 2}

TypeError: unhashable type: 'list'

## Review of Python Container Data Types

| Category of Data type | Data type            | Example    | Ordered|Mutable|Unique|
| -------------- | -------------------- | ---------- |---------- |---------- |---------- |
| Container    | strings   | "Hello World"   |Yes|No|No|
|     | List   | [1, "Hello World"]  |Yes|Yes|No|
|     | Tuple   | (1, "Hello World")  |Yes|No|No|
|     | Set   | {1, "Hello World"}   |No|No|Yes|
|     | Dictionary   | {1: "Hello World", 2: 100} |No|Yes|Yes|

## Further readings

* [tutorial of python Sets](https://realpython.com/python-sets/)
* [tutorial of python dictionaries](https://realpython.com/python-dicts/)

# Assginments

* HW5 released later today, due by 10/11

# Next Class

* Scripts and modules
* Python Ecosystem